{% extends 'base.html' %}

    {% block css %}
        <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/static/css/style.css">
        <link rel="stylesheet" type="text/css" href="/static/css/font-awesome.min.css">
        <link rel="apple-touch-icon-precomposed" href="/static/images/icon/icon.png">
        <link rel="shortcut icon" href="/static/images/icon/favicon.ico">
        <link rel="stylesheet" type="text/css" href="/static/css/login.css">
    {% endblock %}


    {% block js %}
        <script src="/static/js/jquery-2.1.4.min.js"></script>
    {% endblock %}