{% extends 'index_base.html' %}
{% block js %}
    <script src="/static/js/jquery.min.js" type="text/javascript"></script>
    <script type="/static/text/javascript" src="js/hc-sticky.js"></script>
    <script type="/static/text/javascript" src="js/comm.js"></script>
    <script src="/static/js/piccontent.min.js" type="text/javascript"></script>
    <script src="/static/js/scrollReveal.js"></script>
{% endblock %}

{% block css %}
    <link href="/static/css/base.css" rel="stylesheet">
    <link href="/static/css/index.css" rel="stylesheet">
    <link href="/static/css/m.css" rel="stylesheet">
    <link href="/static/css/info.css" rel="stylesheet">
    <link href="/static/css/infopic.css" rel="stylesheet">
{% endblock %}

{% block head %}
    <title>首页_杨青个人博客 - 一个站在web前端设计之路的女技术员个人博客网站</title>
    <meta name="keywords" content="个人博客,杨青个人博客,个人博客模板,杨青" />
    <meta name="description" content="杨青个人博客，是一个站在web前端设计之路的女程序员个人网站，提供个人博客模板免费资源下载的个人原创网站。" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
{% endblock %}

