{% extends 'base_main.html' %}

    {% block head %}
        <meta charset="utf-8">
        <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>异清轩博客管理系统</title>
    {% endblock %}

    {% block js %}
        {{ block.super }}
    {% endblock %}

    {% block css %}
        {{ block.super }}
    {% endblock %}

    {% block content %}
<div class="container">
  <div class="siteIcon"><img  alt="" data-toggle="tooltip" data-placement="top" title="欢迎使用异清轩博客管理系统" draggable="false" /></div>
  <form action="" method="post" autocomplete="off" class="form-signin">
      {% csrf_token %}
    <h2 class="form-signin-heading">管理员登录</h2>
    <label for="username" class="sr-only">用户名</label>
    <input type="text" id="userName" name="username" class="form-control" placeholder="请输入用户名" required autofocus autocomplete="off" maxlength="10">
    <label for="userPwd" class="sr-only">密码</label>
    <input type="password" id="userPwd" name="password" class="form-control" placeholder="请输入密码" required autocomplete="off" maxlength="18">
    <a href="main.html"><button class="btn btn-lg btn-primary btn-block" type="submit" id="signinSubmit">登录</button></a>
  </form>
  <div class="footer">
    <p><a href="{% url 'front:index' %}" data-toggle="tooltip" data-placement="left" title="不知道自己在哪?">返回文章首页</a></p>
  </div>
</div>
{{ msg }}
    {% endblock %}